.navbar{
    display: flex;
    justify-content: space-evenly;
}
.brand{
    /* display: flent: space-around; */
    padding: 1em;
    
}
.brand img{
    width: 50px;
    border-radius: 1em;
    cursor: pointer;
}
.brandname{
    font-size: large;
    font-weight: bold;
}
.navigation{
    display: flex;
    list-style-type: none;
}
.navigation li{
    margin: 1em;
    cursor: pointer;
    background-color: #F0C210;
    padding: 0.3em;
    border-radius:.5em ;
}
.navigation li:hover{
    margin-left: 1em;
    cursor: pointer;
    background-color: #fdcb00;
    padding: 0.3em;
    border-radius:.5em ;
}
.active{
    background-color: #caa203;
}
.navigation li a{
    text-decoration: none;
    color: black;
}